<div class="content top-margin">
    <h1>Catherine Kwak</h1>
    <div class="tagline">
      Front-end Software Engineer
    </div>
    <p class="contact top-margin bottom-margin">catherine [dot] webdev [at] gmail [dot] com</p>
    <p class="blurb content">Software Engineer with 5 years of experience, predominantely working on the Front-End with JavaScript, and React. I love working on rich, user experience-focused UIs, especially when a well-organized, reusable component library is involved.</p>
  <div id="contact">{% include contact.html %}</div>
</div>