/*-----------------------------------------------
 *
 * 1. Base
 *
 * --------------------------------------------- */
// Global
// ----------------------------------------------
*
  box-sizing: border-box

%font-sans
  font-family: "Open Sans", arial, helvetica, sans-serif

%font-serif
  font-family: "Lora", georgia, serif

body
  +font-size(14px)
  @extend %font-sans
  background: $bg-medium
  background-image: radial-gradient(at 50% 30%, $bg-light, $bg-medium 75%)
  background-attachment: fixed
  margin: 0
  height: 100%
  color: $text-color

p
  margin: 8px 0

  &:not(:last-child)
    margin-bottom: 15px

strong
  font-weight: 600

a
  color: $link-color
  text-decoration: none

  &:hover
    color: $accent

ul, ol
  padding: 0
  padding-left: 25px

img
  width: 100%

h1, h2, h3, h4, h5, h6
  @extend %font-serif

h1
  +font-size(28px)
  border-bottom: 1px solid $border-color
  color: $accent2

h2
  +font-size(20px)
  color: $link-color

h3
  +font-size(16px)
  color: $accent

pre,
code
  font-size: 15px
  border: 1px solid $border-color
  border-radius: 3px
  background-color: #eef

code
  padding: 0 2px

pre
  padding: 8px 12px
  overflow-x: scroll

  > code
    border: 0
    padding-right: 0
    padding-left: 0