/* Base */

$bg-color: #ffffff // white
$font-color: #07070A // almost black
$highlight-color: #4E3AB1 // purple
// $accent-color: #F5F3FF // pale purple
$font-family: 'Open Sans'
$spacer: 0.5em
$content-width: 65%

body
  background-color: $bg-color
  color: $font-color
  font-family: $font-family, sans-serif
  font-size: 14px
  line-height: 1.4em
  text-align: center

a
  color: $highlight-color
  text-decoration: none

@mixin hfont
  line-height: 1.2em

h1
  @include hfont
  color: $highlight-color
  font-size: 3em
  opacity: 85%

h2
  @include hfont
  font-size: 1.5em