/* Base */

$bg-color: #001315 // midnight green
$font-color: #aac2c6 // light grey-teal
$shadow-color: #004953 // dark green
$highlight-color: #ececec // light grey
$accent-color: #f7e7ce // cream
$font-family: 'Open Sans'
$spacer: 0.5em
$content-width: 65%

body
  background-color: $bg-color
  color: $font-color
  font-family: $font-family, sans-serif
  font-size: 14px
  line-height: 1.4em

a
  color: $highlight-color
  text-decoration: none

a:hover
  color: $shadow-color
  text-decoration: overline $highlight-color

@mixin hfont
  text-shadow: 0 0 2px $highlight-color
  line-height: 1.2em

h1
  @include hfont
  color: $highlight-color
  font-size: 3em
  opacity: 85%

h2
  @include hfont
  font-size: 1.5em