/* Layout */
section:not(:last-of-type)
  border-bottom: 1px solid $rgba

section
  padding: $spacer * 3
  max-width: $content-width
  margin: $spacer auto

#top, #bot
  text-align: center
  background-color: $banner-color

#bot
  margin-top: 40px
  padding: $spacer * 3

#hero
  text-align: center
  color: $bg-color
  background-size: cover
  background-position: center
  padding: $spacer

.left, .right
  display: inline-block
  width: $content-width / 2

.left
  text-align: left

.right
  text-align: right