// Layout

.content
  margin: 0 auto
  width: $content-width

.top-margin
  margin-top: $spacer * 4

.bottom-margin
  margin-bottom: $spacer * 4

.divider
  box-shadow: 0 3px 2px -2px $shadow-color
  width: 100%
  height: 0.4em



//  Module
.menu
  font-size: 12px
  list-style-type: none
  opacity: 70%
  width: $content-width
  margin: 0 auto
  padding: 0

  li
    padding: ($spacer * 4) ($spacer * 4) ($spacer * 1) 0
    display: inline-block

  li:hover
    text-decoration: overline $highlight-color

.subtitle
  line-height: 1.2em
  font-weight: 600
  color: $font-color
  margin: ($spacer * 12) 0

.tagline
  font-size: 3em
  opacity: 65%
  line-height: 1.2em

.flex-heading
  display: flex
  justify-content: space-between
  align-items: center

.heading-social
  font-size: 12px
  text-decoration: none
  color: $font-color
  opacity: 60%

.skills
  margin: 0
  list-style-type: '»'
  columns: 3

  li
    padding: $spacer

  li:hover
    cursor: pointer
    color: $shadow-color

.social
  text-align: center
  margin: 0
  list-style-type: none

  li
    display: inline-block
    margin: 0 ($spacer * 4)

  li:hover
    text-decoration: none

.icon
  > svg
    display: inline-block
    width: 4em
    height: 4em
    vertical-align: middle

    path
      fill: $font-color