/*-----------------------------------------------
 *
 * 3. Module
 *
 * --------------------------------------------- */
// Global
// ----------------------------------------------
%module-style
  background: $module-bg
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
  padding: $padding-unit

// Icons
.icon
  > svg
    display: inline-block
    width: 32px
    height: 32px
    vertical-align: middle

    path
      fill: rgba(0,0,0,.3)

.icon, .icon-link
  &:hover
    .icon > svg
      path
        fill: rgba(255, 96, 110, .7)

// Header
// ----------------------------------------------
header
  @extend %module-style

nav a
  padding: ($padding-unit - 1px) 10px

  &:hover
    border-top: 1px solid $accent
    border-bottom: 2px solid $accent

// Aside: sidebar
// ----------------------------------------------
.sidebar-section, .page-menu
  @extend %module-style
  text-align: center

  &:not(:last-child)
    border-bottom: 1px solid $border-color

.profile
  border-radius: 50%
  margin: 10px 0

.menu-link
  text-transform: lowercase
  margin-left: 8px

// Section: main content
// ----------------------------------------------
.page-content
  @extend %module-style

// Articles
article
  &:not(:last-child)
    border-bottom: 1px dotted $border-color

// post meta
.meta-info
  padding: 5px 0

%meta-style
  +font-size(12px)
  text-transform: uppercase

time
  @extend %meta-style
  font-weight: 600

.cat, .tag
  @extend %meta-style

// Blog List
.post-meta
  margin-left: $padding-unit / 2

// Form
// ----------------------------------------------
form
  margin: ($padding-unit / 2) 0
  border-bottom: 1px solid $border-color
  padding-bottom: $padding-unit

label
  font-weight: 600

input
  +font-size(16px)
  @extend %font-sans
  width: 100%
  padding: 3px
  border: 1px solid rgba(0,0,0,.2)
  border-radius: 3px
  margin: ($padding-unit / 3) 0

#send
  width: 100px
  color: $white
  background: #49afcd
  background-image: linear-gradient(to bottom,#5bc0de,#2f96b4)
  margin: 0 auto

textarea
  @extend %font-sans
  @extend input

// Footer
// ----------------------------------------------
footer
  padding: 15px $padding-unit
  border-top: 1px solid rgba(0,0,0,.1)