/* Module */
/* contact form */
form
  margin: $spacer 0
  padding-bottom: $spacer

label
  font-weight: 600

input
  font-family: $font-family, sans-serif
  font-size: inherit
  width: 100%
  padding: 4px
  border: 1px solid rgba(0,0,0,.2)
  border-radius: 3px
  margin: $spacer 0

#send
  max-width: 25%
  min-height: 40px
  color: $bg-color
  background: $accent-color
  background-image: linear-gradient(to bottom, $accent-color, #5bc0de)

textarea
  @extend input