@media screen and (max-width: 650px)
  nav li, nav .social li
    display: block
    margin: 0
    padding: $spacer

@media screen and (max-width: 800px)
  $content-width: 95%

  section
    max-width: $content-width

  .left, .right
    width: $content-width / 2