// Media queries: remove sidebar
// ----------------------------------------------
// list of posts in blog.html
.list


.list-item
  display: inline-block

.list-time
  float: right
  line-height: 28px
  color: $text-color
  font-weight: 400

// Active page
.active
  @extend a:hover

// Media Queries
@media screen and (max-width: 850px)
  .sidebar-section
    display: none

  .page-wrap
    max-width: $media-max-width
    +flex-direction(column)

  aside
    width: 100%

  .page-menu
    margin-bottom: $padding-unit
    padding: 15px 30px

    h3
      display: inline